
/**********************/
/* STYLING PAGINA 2*/
/**********************/

/* CONTENT SECTIE 1*/
main section:first-of-type {
  padding: 2em;
  padding-top: 5em;
  background-image: url("../images/strandhuisOverlay.jpg");
  background-size: cover;
}

/* Formulier 1*/
main section:first-of-type form {
  padding: 2em;
  background-color: var(--color-background);
}

main section:first-of-type form img {
  width: 6em;
}

main section:first-of-type form h4 {
  margin-top: 0.5em;
  font-family: var(--heading-text);
  font-size: 1.2em;
  font-weight: 100;
}

main section:first-of-type form p {
  margin-top: 0.2em;
  margin-bottom: 1.5em;
}


label {
  font-family: var(--heading-text);
  font-weight: 100;
  line-height: 1;
  color: var(--color-text);
  cursor: pointer;
}

form:invalid {
  background: rgba(212, 196, 19, 0.385);
}

fieldset {
  border: none;
  transition: all 0.2s;
  padding: 1em;
}

fieldset:valid p:nth-of-type(2) {
  display: block;
  color: black;
  background: rgb(247, 206, 70);
  border: seagreen 18px;
  padding: 1em 1em 1em 1em;
  font-family: var(--body-text);
  font-size: 1em;
  line-height: 1em;
}

fieldset:invalid {
  background: none;
}

fieldset:invalid p:nth-of-type(2) {
  display: none;
}

main section:first-of-type form fieldset input:first-of-type,
main section:first-of-type form fieldset input:nth-of-type(2) {
  width: 100%;
  margin-bottom: 1em;
  padding: 0.5em 0em 0.5em 0.5em;
  background-color: rgb(237, 237, 237);
  font-family: var(--body-text);
  font-weight: 100;
  font-size: 0.9em;
  transition: all 0.2s;
  z-index: 2;
}

input:valid {
  border-color: seaGreen;
  background-color: rgb(12, 190, 27);
}

input:invalid {
  border-color: #f6c430;
}

input:focus {
  transform: scale(1.01, 1.01);
}

input:focus + p.tooltip {
  display: block;
  opacity: 1;
  margin-top: -1.3em;
}

main section:first-of-type form button {
  width: 100%;
  margin: 1em 0em 0em 0em;
  padding: 0.5em 1em 0.5em 1em;
  background-color: var(--color-button);
  border-color: var(--color-button);
  color: var(--color-footer);
  font-family: var(--heading-text);
  font-weight: 100;
  font-size: 1.2em;
  border-style: solid;
  border-radius: 5px;
  border-width: 0.15em;
  cursor: pointer;
}

main section:first-of-type form button:hover {
  background-color: var(--color-footer);
  border-color: var(--color-button);
  color: var(--color-button);
}

main section:first-of-type form button:active {
  background-color: rgb(204, 140, 140);
}

/* CONTENT SECTIE 2 */
main > section:nth-of-type(2) {
  grid-column: 1 / -1; /* Zorg ervoor dat het de volledige breedte van het grid beslaat */
  display: flex; /* Gebruik flexbox om te centreren */
  flex-direction: column; /* Rangschik de inhoud in een kolom (verticaal) */
  align-items: center; /* Centreer horizontaal */
  justify-content: center; /* Centreer verticaal */
  text-align: center; /* Centreer de tekst binnen de sectie */
}

main section:nth-of-type(2) h3 {
  color: black;
  text-align: center;
}

main section:nth-of-type(2) h2 {
  margin: 0em 0em 0em 0em;
  font-family: var(--heading-text);
  font-size: 2em;
  color: var(--color-text);
}


/* CONTENT SECTIE 2 - 7*/
main section:nth-of-type(2) article,
main section:nth-of-type(7) article {
  width: 50%;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 0.5em;
  border-right: 0.1em solid black;
  height: 3em;
}


/* CONTENT SECTIE 3 + 6*/
main section:nth-of-type(3) {
  background-color: rgb(255, 204, 0) ;
  margin: 0 4% 0 4%; /* dit is zodat deze sectie even breed is als de andere */

}

main section:nth-of-type(3) h3,
main section:nth-of-type(6) h3 {
  font-size: 1.8em;
  font-weight: lighter;
  margin-bottom: 1em;
  color: rgb(51, 51, 51);
}

main section:nth-of-type(3) article:nth-of-type(2) a img {
  width: 3em;
  margin-left: -0.5em;
}

main section:nth-of-type(3) a {
  width: max-content;
  padding-left: 0em;
  align-items: center;
  font-family: var(--body-text);
  font-weight: 600;
  font-size: 1em;
  text-decoration: none;
  color: black;
  transition: 0.2s ease-in-out;
}

/* CONTENT SECTIE 6*/
section:nth-of-type(6) {
  margin-top: 7em;
  padding: 0em 2em 0em 2em;
}

main section:nth-of-type(6) a:first-of-type img {
  width: 100%;
  text-align: center;
}

main section:nth-of-type(6) article a {
  width: max-content;
  padding-left: 0em;
  display: flex;
  align-items: center;
  font-family: var(--body-text);
  font-weight: 600;
  font-size: 1em;
  color: var(--color-text);
  text-decoration: none;
  line-height: 1em;
  transition: 0.2s ease-in-out;
}

main section:nth-of-type(6) article:first-of-type a:hover {
  transform: scale(1.05);
  color: var(--color-button);
  text-decoration: underline;
}

main section:nth-of-type(6) article:first-of-type a:active {
  color: var(--color-active);
}

main section:nth-of-type(6) article:first-of-type a img {
  width: 3em;
  margin-bottom: 1.2em;
}

main section:nth-of-type(6) h3 {
  color: black;
}

/* CONTENT SECTIE 7*/
main section:nth-of-type(7) {
  margin-bottom: 5em;
}

main section:nth-of-type(7) p {  
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

main section:nth-of-type(7) h2 {
  margin-top: 1.2em;
  font-family: var(--heading-text);
  font-size: 2em;
  color: black;
  text-align: center;
}

main section:nth-of-type(7) details {
  width: 100%;
  margin: 0em;
  padding: 0.5em 0em 0.5em 0em;
  background-color: rgb(255, 255, 255);
  transition: 0.2s ease-in-out;
  border:gray
}

main section:nth-of-type(7) details:hover {
  background-color: rgb(213, 213, 213);
  color: var(--color-button);
}

main section:nth-of-type(7) details summary {
  padding: 0.7em 0 0.7em 0em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--heading-text);
  font-weight: 100;
  font-size: 1.2em;
  text-align: left;
  line-height: 1.2em;
  list-style-type: none;
  transition: 0.2s ease-in-out;
  border-top: 1px solid lightgrey; /* voegt grzijze lijn toe boven */
}

main section:nth-of-type(7) details > summary {
  border-bottom: 1px solid lightgrey; /* voegt grzijze lijn toe onder */
}

main section:nth-of-type(7) details summary:hover {
  text-decoration: underline;
}

main section:nth-of-type(7) details p {
  padding: 0em 1.2em 0em 1.2em;
  font-family: var(--body-text);
  font-weight: 100;
  text-decoration: none;
  color: black;
}

main section:nth-of-type(7) details p a {
  width: auto;
  font-family: var(--body-text);
  font-weight: 300;
  display: inline-block;
  text-decoration: none;
  color: black;
  transform: none;
}

main section:nth-of-type(7) details p a:hover {
  display: inline-block;
  text-decoration: underline;
  transform: none;
}

main section:nth-of-type(7) details p a:active {
  color: var(--color-active);
}

main section:nth-of-type(7) details summary img {
  width: 2em;
}

main section:nth-of-type(7) > a,
main section:nth-of-type(7) details a:nth-of-type(2),
main section:nth-of-type(7) details a:nth-of-type(3) {
  margin-top: 0.5em;
}

main section:nth-of-type(7) > a img,
main section:nth-of-type(7) details:nth-of-type(2) a img,
main section:nth-of-type(7) details:nth-of-type(2) a img {
  width: 3em;
}

main section:nth-of-type(7) > a img,
main section:nth-of-type(7) details:nth-of-type(2) a img {
  margin-left: 0.8em;
}
main section:nth-of-type(7) a {
  width: max-content;
  padding-left: 0em;
  display: flex;
  align-items: center;
  font-family: var(--body-text);
  font-weight: 600;
  font-size: 1em;
  text-decoration: none;
  color: black;
  transition: 0.2s ease-in-out;
}

/* STICKY KNOP*/
main > a {
  width: max-content;
  padding-right: 1em;
  height: 3.5em;
  position: fixed;
  bottom: 2em;
  right: 1em;
  display: flex;
  align-items: center;
  background-color: var(--color-button);
  color: var(--color-background);
  font-family: var(--body-text);
  font-weight: 600;
  font-size: 0.9em;
  text-decoration: none;
  border-radius: 5em;
  box-shadow: 1px 3px 5px var(--color-text);
  transition: 0.2s ease-in-out;
}

main > a:hover {
  background-color: var(--color-footer);
  color: var(--color-button);
  transform: scale(1.05);
}

main > a:active {
  background-color: rgb(204, 140, 140);
}

main > a img {
  width: 2em;
}

/**********************/
/* Responsiveness*/
/**********************/

@media (min-width: 741px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  /* Section 2 + 3 + 4 + 5 + 6 + 7*/
  main section:first-of-type,
  main section:nth-of-type(3),
  main section:nth-of-type(6),
  main section:nth-of-type(7) {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  main section:first-of-type,
  main section:nth-of-type(3),
  main section:nth-of-type(6) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2em;
  }

  main section:nth-of-type(2) {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 2em;
  }

  main section:nth-of-type(4),
  main section:nth-of-type(5),
  main section:nth-of-type(6) {
    margin: 2em 3em 2em 3em;
  }

  /* Section 1*/
  main section:first-of-type article {
    padding: 1.5em;
  }

  main section:first-of-type article:first-of-type {
    padding-top: 7em;
  }

  main section:first-of-type article:nth-of-type(2) {
    width: 100%;
  }

  main section:first-of-type article h1 {
    line-height: 1em;
  }

  main section:first-of-type article h2 {
    font-size: 2.5em;
  }

  main section:first-of-type article:nth-of-type(2) a {
    padding: 1.5em;
  }

  /* Section 2*/
  main section:nth-of-type(2) {
    padding: 0em 4em 0em 4em;
  }

  /* Section 3 + 6*/
  main section:nth-of-type(3) p, 
  main section:nth-of-type(6) p{
    width: 90%;
  }

  main section:nth-of-type(3) img {
    width: 100%; /* Afbeelding neemt volledige breedte */
    height: auto; /* Automatische hoogte */
    object-fit: cover; /* Zorgt dat de afbeelding mooi past */
  }

  main section:nth-of-type(3) article:first-of-type img  {
    margin-top: 5em;
  }

  main section:nth-of-type(3) article:first-of-type,
  main section:nth-of-type(6) article:first-of-type {
    order: 1;
  }

  main section:nth-of-type(3) article:last-of-type,
  main section:nth-of-type(6) article:last-of-type {
    margin: 2em 0 0 2em;
  }

  main section:nth-of-type(3),
  main section:nth-of-type(6) {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Twee kolommen */
    column-gap: 2em; /* Ruimte tussen kolommen */
    align-items: center; /* Verticale uitlijning */
    padding: 2em; /* Ruimte binnen de secties */
    margin: 2em 3em; /* Ruimte buiten de secties */
  }

   /* Section 4+ 5*/
   main section:nth-of-type(4) {
    margin: 2em 0em 2em 3em;
    padding: 3em;
    background-color: rgb(235, 235, 235);
  }

  main section:nth-of-type(5) {
    margin: 2em 3em 2em 0em;
    padding: 3em;
    background-color: rgb(225, 225, 225);
  }

  main section:nth-of-type(4) img,
  main section:nth-of-type(5) img {
    width: 400px; /* Standaard breedte voor de afbeelding */
    height: 300px; /* Standaard hoogte voor de afbeelding */
  }

  main section:nth-of-type(5) a  {
    width: 200px; /* Standaard breedte voor de afbeelding */
    height: 100px; /* Standaard hoogte voor de afbeelding */
  }

  /* Section 6 */
  main section:nth-of-type(6) {
    margin: 2em 3em 2em 3em;
    background-color: rgb(235, 235, 235);
  }

  main section:nth-of-type(6) img { 
    width: 100%;
    height: 100%;
    object-fit: cover; /* Afbeelding vult het grid-item */
    }

   /* Section 7*/
  main section:nth-of-type(7) {
    margin: 0em 3em 0em 3em;
    background: none;
  }

  main section:nth-of-type(7) h2,
  p {
    font-family: var(--font-body);
    
  }
}

@media (min-width: 1050px) {
  /* Section 1*/
  main section:first-of-type article:nth-of-type(2) {
    width: 90%;
  }

  /* Section 2*/
  main section:nth-of-type(2) {
    padding: 0em 6em 0em 6em;
  }

  /* Section 3*/
  main section:nth-of-type(3) article:first-of-type img {
    margin-top: 0em;
    width: 100%;
  }

  main section:nth-of-type(3) article:first-of-type img {
    margin-top: 2em;
  }

  /* Section 6*/
  main section:nth-of-type(6) article:nth-of-type(2) {
    margin-top: 1em;
    padding-right: 3em;
  }

  /* Section 4*/
  main section:nth-of-type(4) article:nth-of-type(2) {
    margin: 3em 2em 4em 2em;
  }

  /* Section 5*/
  main section:nth-of-type(5) article:nth-of-type(2) {
    margin: 3em 2em 4em 2em;
  }
}

@media (min-width: 1370px) {
  main section:nth-of-type(6) article:nth-of-type(2) {
    margin-top: 3em;
    padding-right: 3em;
  }
}

@media (min-width: 1430px) {
  /* Section 1*/
  main section:first-of-type article:nth-of-type(2) {
    width: 80%;
  }

  /* Section 2*/
  main section:nth-of-type(2) {
    padding: 0em 12em 0em 12em;
  }

  /* Section 3*/
  main section:nth-of-type(3) article:first-of-type img {
    margin-top: 0em;
  }

  /* Section 6*/
  main section:nth-of-type(6) article:nth-of-type(2) {
    margin-top: 6em;
    padding-right: 6em;
  }

  /* Section 4*/
  main section:nth-of-type(4) article:nth-of-type(2) {
    margin: 5em 2em 4em 2em;
  }

  /* Section 5*/
  main section:nth-of-type(5) article:nth-of-type(2) {
    margin: 5em 2em 4em 2em;
  }
}

@media (min-width: 1700px) {
  /* Section 1*/
  main section:first-of-type article:nth-of-type(2) {
    width: 70%;
  }

  /* Section 2*/
  main section:nth-of-type(2) {
    padding: 0em 18em 0em 18em;
  }

  /* Section 6*/
  main section:nth-of-type(6) article:nth-of-type(2) {
    margin-top: 8em;
    padding-right: 10em;
  }

  /* Section 4*/
  main section:nth-of-type(4) article:nth-of-type(2) {
    margin: 7em 2em 4em 2em;
  }

  /* Section 5*/
  main section:nth-of-type(5) article:nth-of-type(2) {
    margin: 7em 2em 4em 2em;
  }
}

/**********************/
/* Dark mode */
/**********************/
@media (prefers-color-scheme: dark) {
  :root {
    --color-button: #c6313c;
    --color-footer: #f7ce46;
    --color-background: rgb(50, 50, 50);
    --color-text: #fff;
    --color-active: rgb(255, 255, 255);
  }

  body {
    background-color: rgb(209, 209, 209);
  }

  footer {
    background-color: rgb(132, 132, 132);
  }

  footer section p {
    color: whitesmoke;
  }
}

/* Animaties */
@keyframes bounce {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

footer section nav:nth-of-type(2) ul li img:hover,
main > a:hover {
  animation: bounce 1s ease-out;
}

.hidden {
  opacity: 0;
  transform: translateY(20%);
  transition: opacity 3s, transform 3s;
}

.show {
  opacity: 1;
  transform: translateY(0);
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}
/* Algemene animatie-instellingen */
@keyframes scale-bounce {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);  /* Pas dit aan voor de bounce-effect */
  }
}

@keyframes scale-pulse {
  0%, 100% {
    transform: scale(1);
  }
  20%, 40%, 60%, 80%, 90% {
    transform: scale(1.1); /* Puls-effect */
  }
}

/* Animatie op de icons in de footer */
footer section nav:nth-of-type(2) ul li img:hover,
main > a:hover {
  animation: scale-bounce 1s ease-in-out 1;
}

/* Animatie op de download button */
main > a:hover {
  animation: scale-pulse 1s ease-in-out infinite;
}